.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--hard-bg-color);
  position: relative;
  transition: width 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.sidebarIcon {
  position: relative;
  left: 18px;
  top: 10px;
  fill: var(--primary-color);
}

.switchers {
  position: absolute;
  width: 80px;
  height: 100px;
  bottom: 20px;
}
